<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin/bb.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>f.pop 後台管理</title>
    <style>
        .fpop-card-text {
            font-size: 14px;
            font-weight: 500;
        }

        .modal-inp {
            height: 35px;
            width: 200px;
            border: 1px solid #acacac;
            border-radius: 6px;
            font-size: 10px;
            margin: 5px 0;
            padding: 0 10px;
        }

        .fp-item>li>span {
            padding: 15px;
        }

        .modal-inp {
            height: 35px;
            width: 200px;
            border: 1px solid #acacac;
            border-radius: 6px;
            font-size: 10px;
            margin: 5px 0;
            padding: 0 10px;
        }

        label,
        textarea {
            font-size: .9rem;
            letter-spacing: 1px;
        }

        textarea {
            padding: 10px;
            max-width: 100%;
            line-height: 1.5;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: normal;
        }



        .dataTable-wrapper.no-footer .dataTable-container {
            border-bottom: 1px solid #d9d9d9;
        }

        .dataTable-top,
        .dataTable-bottom {
            padding: 8px 10px;
        }

        .dataTable-top>nav:first-child,
        .dataTable-top>div:first-child,
        .dataTable-bottom>nav:first-child,
        .dataTable-bottom>div:first-child {
            float: left;
        }

        .dataTable-top>nav:last-child,
        .dataTable-top>div:last-child,
        .dataTable-bottom>nav:last-child,
        .dataTable-bottom>div:last-child {
            float: right;
        }

        .dataTable-selector {
            padding: 6px;
        }

        .dataTable-input {
            padding: 6px 12px;
            border-radius: 5px;
            border: 1px solid;
        }

        .dataTable-info {
            margin: 7px 0;
        }

        /* PAGER */
        .dataTable-pagination ul {
            margin: 0;
            padding-left: 0;
        }

        .dataTable-pagination li {
            list-style: none;
            float: left;
        }

        .dataTable-pagination a {
            border: 1px solid transparent;
            float: left;
            margin-left: 2px;
            padding: 6px 12px;
            position: relative;
            text-decoration: none;
            color: #333;
        }

        .dataTable-pagination a:hover {
            background-color: #ffee6b;
            border-radius: 5px;
        }

        .dataTable-pagination .active a,
        .dataTable-pagination .active a:focus,
        .dataTable-pagination .active a:hover {
            background-color: #efefef;
            border-radius: 5px;
            cursor: default;
        }

        .dataTable-pagination .pager a {
            font-weight: bold;
        }

        /* TABLE */
        .dataTable-table {
            max-width: 100%;
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
        }

        .dataTable-table>tbody>tr>td,
        .dataTable-table>tbody>tr>th,
        .dataTable-table>tfoot>tr>td,
        .dataTable-table>tfoot>tr>th,
        .dataTable-table>thead>tr>td,
        .dataTable-table>thead>tr>th {
            vertical-align: top;
            padding: 15px 10px;
        }

        .dataTable-table>thead>tr>th {
            vertical-align: bottom;
            text-align: left;
            border-bottom: 1px solid #d9d9d9;
        }

        .dataTable-table>tfoot>tr>th {
            vertical-align: bottom;
            text-align: left;
            border-top: 1px solid #d9d9d9;
        }

        .dataTable-table th {
            vertical-align: bottom;
            text-align: left;
        }

        .dataTable-table th a {
            text-decoration: none;
            color: inherit;
        }

        .dataTable-sorter {
            display: inline-block;
            height: 100%;
            position: relative;
            width: 100%;
        }

        .dataTable-sorter::before,
        .dataTable-sorter::after {
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            right: 4px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            opacity: 0.2;
        }

        .dataTable-sorter::before {
            border-top: 4px solid #000;
            bottom: 0px;
        }

        .dataTable-sorter::after {
            border-bottom: 4px solid #000;
            border-top: 4px solid transparent;
            top: 0px;
        }

        .asc .dataTable-sorter::after,
        .desc .dataTable-sorter::before {
            opacity: 0.6;
        }

        .dataTables-empty {
            text-align: center;
        }

        .dataTable-top::after,
        .dataTable-bottom::after {
            clear: both;
            content: " ";
            display: table;
        }
        .cardfpop {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            /* background-color: #fff; */
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
        }
    </style>

</head>

<body id="page-top">

    <%- include("admin_navbar.ejs") %>


        <!-- Main Content -->
        <div class="fpop-main p-5" style="background-color: #fff;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/goods">首頁</a></li>
                    <li class="breadcrumb-item"><a href="#">商品管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page">本週新品</li>
                </ol>
            </nav>
            <div class="mb-4">
                <h6 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="color:rgb(255, 145, 60) ;" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                    <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                  </svg> 新品上市</h6>
                <div class="row justify-content-center align-items-center text-center ">
                    <% data3.forEach((item ,index)=> { %>
                        <div class="cardfpop col-2 m-2">
                            <img class="mt-3" src="/img/product/<%= item.product_image %>" alt="">
                            <p style="font-size:10px ;">
                                <%= item.product_name %>
                                    <%= console.log(item.product_name) %>
                            </p>

                        </div>
                        <% }) %>
                </div>
            </div>
            <!-- <div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <canvas id="lineChart"></canvas>
                    </div>
                    <div class="col-12 col-md-6">
                        <canvas id="radarChart"></canvas>
                    </div>
                </div>
                <script>
                    let ctx = document.getElementById('lineChart').getContext('2d');

                    new Chart(document.getElementById("radarChart"), {
                        type: 'radar',
                        data: {
                            labels: ["A", "B", "C", "D", "E"],
                            datasets: [
                                {
                                    label: "1950",
                                    fill: true,
                                    backgroundColor: "rgba(179,181,198,0.2)",
                                    borderColor: "rgba(179,181,198,1)",
                                    pointBorderColor: "#fff",
                                    pointBackgroundColor: "rgba(179,181,198,1)",
                                    data: [1, 2, 3, 5, 6]
                                }, {
                                    label: "2010",
                                    fill: true,
                                    backgroundColor: "rgba(255,99,132,0.2)",
                                    borderColor: "rgba(255,99,132,1)",
                                    pointBorderColor: "#fff",
                                    pointBackgroundColor: "rgba(255,99,132,1)",
                                    pointBorderColor: "#fff",
                                    data: [11, 12, 13, 15, 16]
                                }
                            ]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Distribution in % of world population'
                            }
                        }
                    });
                </script>
            </div> -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

            <%= message %>
                <div id="layoutSidenav_content">

                    <div class="container-fluid px-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                本周上市新品
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th class="col-1" style="vertical-align:text-top;">編號</th>
                                            <th class="col-2" style="vertical-align:text-top;">產品名稱</th>
                                            <th class="col-2" style="vertical-align:text-top;">圖片</th>
                                            <th class="col-1" style="vertical-align:text-top;">類別</th>
                                            <th class="col-3" style="vertical-align:text-top;">敘述</th>
                                            <th class="col-1" style="vertical-align:text-top;">價格</th>
                                            <th class="col-1" style="vertical-align:text-top;">上架日期</th>
                                            <th class="col-1" style="vertical-align:text-top;">操作</th>
                                        </tr>
                                    </thead>

                                    <tbody class="card-body">
                                        <% data2.forEach((item ,index)=> { %>
                                            <tr>

                                                <td>
                                                    <%= item.product_code %>
                                                </td>

                                                <td>
                                                    <%= item.product_name%>
                                                </td>
                                                <td><img style="height: 50px;"
                                                        src="/img/product/<%= item.product_image %>" alt="">
                                                    <img style="height: 50px;"
                                                        src="/img/product/<%= item.product_image2 %>" alt="">
                                                    <img style="height: 50px;"
                                                        src="/img/product/<%= item.product_image3 %>" alt="">
                                                    <img style="height: 50px;"
                                                        src="/img/product/<%= item.product_image4 %>" alt="">
                                                </td>
                                                <td>
                                                    <%= item.product_category %>
                                                </td>
                                                <td>
                                                    <div class="box">
                                                        <p class="ellipsis">
                                                            <%= item.product_description %>
                                                        </p>
                                                    </div>
                                                </td>

                                                <td>
                                                     $ <%= item.product_price %>
                                                </td>
                                                <td>
                                                    <%= moment(item.product_upload).format(shortDataFormat) %>
                                                </td>
                                                <td>
                                                    <div class="mt-2">
                                                        <button class="btn btn-outline-info btn-sm "
                                                            onclick="Edit( <%= item.product_id%> )"
                                                            class="btn btn-primary" data-toggle="modal"
                                                            data-target="#myModal">編輯</button>
                                                        <!-- <button class="btn btn-outline-danger btn-sm"
                                                        onclick="Delete( <%= item.id%> )">刪除</button> -->
                                                    </div>
                                                </td>

                                            </tr>
                                            <% }) %>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal" id="myModal">
                    <form id="form" class="modal-content" style="width: 400px;">
                        <div class="text-center p-4">
                            <input type="hidden" name="id">
                            <h6 class="font-weight-bold">產品編號:<input class="modal-inp ml-3" type="text"
                                    name="product_code">
                            </h6><br>
                            <h6 class="font-weight-bold">產品名稱:<input class="modal-inp ml-3" type="text"
                                    name="product_name">
                            </h6><br>
                            <h6 class="font-weight-bold">類　　別:<input class="modal-inp ml-3" type="text"
                                    name="product_category">
                            </h6><br>
                            <h6 class="font-weight-bold">敘　　述:<input class="modal-inp ml-3" type="text"
                                    name="product_description">
                            </h6><br>
                            <h6 class="font-weight-bold">價　　格:<input class="modal-inp ml-3" type="number"
                                    name="product_price">
                            </h6><br>
                            <button class="btn btn-dark btn-sm mt-2 text-center" type="button" id="submit">更新</button>
                        </div>
                    </form>
                </div>

        </div>
        <script>
            function Edit(id) {
                $.ajax({
                    url: "http://localhost:3000/admin/goods/item_del/detail/" + id,
                    type: "GET",
                    success: function (res) {
                        console.log(id)
                        var res = JSON.parse(res)
                        //將值傳遞進input裏頭
                        $("input[name='id']").val(res.data.product_id)
                        $("input[name='product_code']").val(res.data.product_code)
                        $("input[name='product_name']").val(res.data.product_name)
                        $("input[name='product_category']").val(res.data.product_category)
                        $("input[name='product_description']").val(res.data.product_description)
                        $("input[name='product_price']").val(res.data.product_price)
                    },
                    error: function () {
                        alert("系統錯誤!")
                    },
                })
            }

            $('#submit').on('click', function () {

                //整理表單資料到變數
                var data = $('#form').serializeArray()
                JSONData = serializeToJSON(data)
                console.log(data)
                console.log(JSONData)

                $.ajax({
                    url: "http://localhost:3000/admin/goods/item_del/update",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSONData,
                    success: function (res) {
                        var res = JSON.parse(res)
                        if (res.errno === 1) {
                            alert("更新成功!")
                            location.reload()
                        } else if (res.errno === 0) {
                            alert("更新失敗!")
                        }
                    },
                    error: function () {
                        alert("系統錯誤!")
                    }
                })
            })
            function serializeToJSON(data) {
                var values = {};
                for (index in data) {
                    values[data[index].name] = data[index].value;
                }
                return JSON.stringify(values)
            }
            // function Delete(id) {
            //     var JSONData = { "id": id }
            //     JSONData = JSON.stringify(JSONData)
            //     $.ajax({
            //         url: "http://localhost:3000/admin/goods/member/delete",
            //         type: "POST",
            //         contentType: "application/json; charset=utf-8",
            //         data: JSONData,
            //         success: function (res) {
            //             var res = JSON.parse(res)
            //             if (res.errno === 1) {
            //                 alert("刪除成功!")
            //                 location.reload()
            //             } else if (res.errno === 0) {
            //                 alert("刪除失敗!")`
            //             }
            //         },
            //         error: function () {
            //             alert("系統錯誤!")
            //         }
            //     })
            // }
            //------------table------------
            $(document).ready(function () {
                $('#dataTable').DataTable();
            });
            window.addEventListener('DOMContentLoaded', event => {
                const datatablesSimple = document.getElementById('datatablesSimple');
                if (datatablesSimple) {
                    new simpleDatatables.DataTable(datatablesSimple);
                }
            });
        </script>


        </div>
</body>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
</script>



</html>