<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”viewport” content=”width=device-width”>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/scss/pages/home/bootstrap.scss">
    <script src="/js/admin/bootstrap.min.js"></script>
    <script src="/js/home/jquery.min.js"></script>
    <script src="/js/home/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">


    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>f.pop 官方網站</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .page-container {
            position: relative;
            top: 0;
            transition: all 1000ms ease;
            touch-action: none;

        }

        #preloader {
            /*   這是整個會蓋住畫面的底色色塊  */
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0%;
            top: 0%;
            background-color: rgb(0, 0, 0);
            z-index: 9999;

        }

        #status {
            position: relative;
            width: 600px;
            height: 450px;
            margin: 150px auto;
        }

        @media screen and (max-width:750px) {
            #status {
                width: 300px;
                height: 2250px;
            }
        }

        #gotop {
            position: fixed;
            right: 30px;
            /* bottom: 450px; */
            top: 47%;
            color: #ffffff;
            cursor: pointer;
            z-index: 1000;
        }

        #godown {
            position: fixed;
            right: 30px;
            /* bottom: 400px; */
            top: 53%;
            color: #ffffff;
            cursor: pointer;
            z-index: 1000;
        }

        .slider {
            width: 50%;
            margin: 70px auto;
        }

        @media screen and (max-width:850px) {
            .slider {
                width: 70%;
                margin: 40px auto;
            }
        }

        @media screen and (max-width:600px) {
            .slider {
                width: 85%;
                margin: 40px auto;
            }
        }


        .slick-slide {
            margin: 0px 15px;
        }

        .slick-slide img {
            width: 85%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }

        .handwind img {
            width: 600px;
        }

        @media screen and (max-width:600px) {
            .handwind img {
                height: 300px;
            }
        }

        .search__input1 {
            width: 100%;
            padding: 12px 24px;
            background-color: transparent;
            transition: transform 250ms ease-in-out;
            font-size: 14px;
            line-height: 15px;
            color: #ffffff;
            /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' style='color: #ffffff' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"); */
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 95% center;
            border-radius: 50px;
            border: 1px solid #ffffff;
            transition: all 250ms ease-in-out;
            backface-visibility: hidden;
        }

        .search__input1::placeholder {
            color: rgba(255, 255, 255, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        .search__input1:hover,
        .search__input1:focus {
            padding: 8px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #ffffff;
            border-radius: 0;
        }

        .fm {
            height: 160px;
        }

        .figword {
            height: 120px;
        }

        .ero {
            margin: 8% auto;
        }
    </style>

</head>

<body class="page-container" style="text-align:center;">

    <div id="preloader">
        <div id="status"><img src="/img/home/loading2.gif" class="img-fluid" /></div>
    </div>

    <div id="godown">
        <h5><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg></h5>
    </div>
    <div id="gotop">
        <h5><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg></h5>
    </div>

    <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark fixed-top nav_class">

        <div class="storytitle" id="story">
            <h2 class="stories" style="color: #ffffff;">STORIES</h2>
            <!-- <hr width="130px" style="background-color: yellow; position: relative; top: -10px;left: 5px;"> -->
        </div>
        <div class="storytitle" id="history">
            <h2 style="color: #ffffff;">History</h2>
            <!-- <hr width="130px" style="background-color: yellow; position: relative; top: -18px;left: 5px;"> -->
        </div>

        <div class="container">
            <a href="/home" class="navbar-brand"><img class="fnicon" src="/img/home/logo.png" alt=""></a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/home/product/female" class="nav-link">Women</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/product/male" class="nav-link">Men</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a href="#author-head-section" class="nav-link">Accessory</a>
                </li> -->
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            Accessory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">hat</a>
                            <a class="dropdown-item" href="#">purse</a>
                            <a class="dropdown-item" href="#">shoe</a>
                            <a class="dropdown-item" href="/home/custom">custom</a>
                        </div>
                    </li>
                </ul>


            </div>
        </div>


    </nav>
    <div class="pr-2 icondiv" id="navbar_li">
        <form class=" my-2 ml-auto" id="search__input1">
            <input class="search__input1 mr-sm-2" type="search" placeholder="搜尋" style=" width: 150px;
            position: relative;
            height: 40px;
            margin-left: 82px;
            transform: translateY(2px);" />

        </form>
        <div class="mt-4 icon_posi">
            <p style="text-align: right;">
                <a class="pl-2" href="/home/member/memberData">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16" style="color: rgb(255, 255, 255);">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg></a>
                <a class="pl-2" href="/home/shop_cart"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                        fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16" style="color: rgb(255, 255, 255);">
                        <path
                            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                    </svg>
                </a>
                <a class="pl-2 " href="/home/member/myFavourite">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor"
                        class="bi bi-heart" viewBox="0 0 16 16" style="color: rgb(255, 255, 255);">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                </a>
            </p>
        </div>
    </div>


    <!-- 第一面 -->
    <div class="pageone gg" id="pageone">
        <!-- <img class="chili" src="/img/home/bg_chili.png" alt=""> -->
        <div class="mx-auto col-12 col-sm-10 col-md-9 col-xl-7">
            <img src="/img/home/tsat1-03v1.svg" alt="" style="width:95%;">
        </div>

    </div>

    <div id="drag-container">
        <div id="spin-container" class="">

            <img src="/img/home/fashion1.jpg" alt="" style="object-fit: cover;">
            <img src="/img/home/fashion2.jpg" alt="" style="object-fit: cover;">
            <img src="/img/home/fashion3.jpg" alt="" style="object-fit: cover;">
            <img src="/img/home/fashion4.jpg" alt="" style="object-fit: cover;">
            <img src="/img/home/fashion5.jpg" alt="" style="object-fit: cover;">
            <img src="/img/home/image_9.png" alt="" style="object-fit: cover;">

            <p style="font-size:1.5rem">Function.Pop</p>
        </div>
        <div id="ground"></div>
    </div>

    <!-- 新加一面 -->
    <div class="pagenewi gg" id="pagenewi">
        <img src="/img/home/smyipng.png" alt="" style="position:absolute; top:12%; left: 30%;z-index: 700;">
        <img src="/img/home/smyii.png" alt="" style="position:absolute; top:63%; right: 30%;z-index: 700;">
        <div style="text-align:center;margin-top: 140px;z-index: 701;">
            <img class="col-10 col-sm-9 col-md-8 col-lg-5 col-xl-6" src="/img/home/tsat-02.jpg" alt="" id="newi_img">
            <h6 class="col-10 col-sm-9 col-md-8 col-lg-5 col-xl-5" style="margin:50px auto;color: #ffffff;">
                Functionpop是於1921年成立的義大利奢華品牌，
                時至今日已是全球非常受歡迎與令人渴望的奢華品牌。
            </h6>
        </div>
    </div>


    <!-- 第二面 STORIES -->
    <div class="pagetwo gg" id="pagetwo">


        <div class="ero" style="position: relative; width: 74%;" id="pagetwoin">

            <div class="row" style="display: flex; flex-wrap: wrap;">

                <div class="col-9 col-sm-7 col-md-6 col-lg-5 col-xl-3 yy" style="flex-grow: 1; margin: 10px auto;">

                    <div>
                        <figure class="figure">
                            <img class="figure-img img-fluid fm" src="/img/home/fashion1.jpg" alt="">
                            <figcaption class="d-none d-md-block figword">
                                <p>Guests Attending Exquisite Gucci
                                    A PHOTO GALLERY ></p>
                                <p style="font-size: 10px;">打敗濕悶熱,夏季必備涼感穿搭</p>
                            </figcaption>
                        </figure>
                    </div>

                    <div>
                        <figure class="figure">
                            <img class="figure-img img-fluid fm" src="/img/home/fashion4.jpg" alt="">
                            <figcaption class="d-none d-md-block">
                                <p>Exquisite Beauty of neputon
                                    THE MAKEUP AT THE SHOW </p>
                                <p style="font-size: 10px;">打敗濕悶熱,夏季必備涼感穿搭</p>
                            </figcaption>
                        </figure>
                    </div>

                </div>

                <div class="col-3 d-none d-xl-block" style="flex-grow: 1; margin: 10px auto;">
                    <figure class="figure">
                        <img class="figure-img img-fluid fm" src="/img/home/661.png" alt=""
                            style="height: 465px;border: 1px solid rgb(240, 231, 144);">
                        <figcaption>
                            <p>Fashioning Masculinities
                                THE ART OF MENSWEAR </p>
                            <p style="font-size: 10px;">打敗濕悶熱,夏季必備涼感穿搭</p>
                        </figcaption>
                    </figure>

                </div>

                <div class="col-9 col-sm-7 col-md-6 col-lg-5 col-xl-3 yy" style="flex-grow: 1; margin: 10px auto;">

                    <div>
                        <figure class="figure">
                            <img class="figure-img img-fluid fm"
                                src="https://www.go2tec.it/sec-content/uploads/2016/12/FASHION.jpg" alt="">
                            <figcaption class="d-none d-md-block figword">
                                <p>Fashioning Masculinities
                                    THE ART OF MENSWEAR </p>
                                <p style="font-size: 10px;">打敗濕悶熱,夏季必備涼感穿搭</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div>
                        <figure class="figure">
                            <img class="figure-img img-fluid fm" src="/img/home/fashion5.jpg" alt="">
                            <figcaption class="d-none d-md-block">
                                <p>Magical Mirrors Lucas develope
                                    EXQUISITE GUCCI</p>
                                <p style="font-size: 10px;">打敗濕悶熱,夏季必備涼感穿搭</p>
                            </figcaption>
                        </figure>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- 第三面 + footer -->
    <div class="pagethree gg" id="pagethree">

        <div class="row coupon row_class">
            <div class="col col-8 col-md-3 automid col_class colyy">
                <figure class="figure">
                    <img src="/img/home/couponblack.png" class="figure-img img-fluid threeimg">
                </figure>
            </div>
            <div class="col col-9 col-md-3 automid d-none d-md-block col_class colyy" style="margin:0;">
                <figure class="figure ttt">
                    <img src="/img/home/couponblack.png" class="figure-img img-fluid threeimg">
                </figure>
            </div>
            <div class="col col-9 col-md-3 automid  d-none d-md-block col_class colyy">
                <figure class="figure ttt">
                    <img src="/img/home/couponblack.png" class="figure-img img-fluid threeimg">
                </figure>
            </div>
        </div>


        <div>
            <section class="regular slider mb-5">
                <div>
                    <img src="/img/product/<%-ranpro[0]%>">
                </div>
                <div>
                    <img src="/img/product/<%-ranpro[1]%>">
                </div>
                <div>
                    <img src="/img/product/<%-ranpro[2]%>">
                </div>
                <div>
                    <img src="/img/product/<%-ranpro[3]%>">
                </div>
                <div>
                    <img src="/img/product/<%-ranpro[4]%>">
                </div>
                <div>
                    <img src="/img/product/<%-ranpro[5]%>">
                </div>
            </section>
        </div>

        <div style="position: relative; width: 85%; margin: 100px auto;" id="thirdmargin">
            <div class="row zzz justify-content-center align-items-start">
                <div class="col-md-2">
                    <img src="/img/home/icon/ico1.png" alt="" style="height: 50px;width:50px">
                    <!-- <h6 style="font-weight: 700;" class="mt-3">免運費</h6>
                    <p style="font-size: 15px;">港澳-消費滿 HK$499.99 免運費。 台灣-消費滿HK$699.99免運費。 馬來西亞、新加坡-消費滿HK$599.99免運費。 </p> -->
                </div>

                <div class="col-md-2 d-none d-md-block">
                    <img src="/img/home/icon/ico2.png" alt="" style="height: 40px;width:57px">
                    <!-- <h6 style="font-weight: 700;" class="mt-3">運輸時效快</h6>
                    <p style="font-size: 15px;">港澳-順豐速運-3到5個工作日送達。 台灣、馬來西亞、新加坡-聯邦快遞-5到7個工作日送達。 </p> -->
                </div>

                <div class="col-md-2 d-none d-md-block">
                    <img src="/img/home/icon/ico3.png" alt="" style="height: 50px;width:50px">
                    <!-- <h6 style="font-weight: 700;" class="mt-3">輕鬆退換貨</h6>
                    <p style="font-size: 15px;">自發貨日起，21天內支持退換貨。 在線申請 | 48小時內處理 | 客服支持。 </p> -->
                </div>

            </div>
            <div class="row zzz justify-content-center align-items-start">
                <div class="col-md-2">
                    <h6 style="font-weight: 700;" class="mt-3">免運費</h6>
                    <p style="font-size: 15px;">港澳-消費滿 HK$499.99 免運費。 台灣-消費滿HK$699.99免運費。 馬來西亞、新加坡-消費滿HK$599.99免運費。 </p>
                </div>

                <div class="col-md-2">
                    <img class=" d-md-none" src="/img/home/icon/ico2.png" alt="" style="height: 40px;width:57px">
                    <h6 style="font-weight: 700;" class="mt-3">運輸時效快</h6>
                    <p style="font-size: 15px;">港澳-順豐速運-3到5個工作日送達。 台灣、馬來西亞、新加坡-聯邦快遞-5到7個工作日送達。 </p>
                </div>

                <div class="col-md-2">
                    <img class=" d-md-none" src="/img/home/icon/ico3.png" alt="" style="height: 50px;width:50px">
                    <h6 style="font-weight: 700;" class="mt-3">輕鬆退換貨</h6>
                    <p style="font-size: 15px;">自發貨日起，21天內支持退換貨。 在線申請 | 48小時內處理 | 客服支持。 </p>
                </div>

            </div>
        </div>
    </div>
    <!-- 手風琴那頁 -->
    <div class="pagefour gg " id="pagefour">

        <div class="accordion" id="zA7n">
            <ul class="accordion__ul handwind">
                <li class="accordion__li"><img class="accordion__img" src="/img/home/tsat-07.jpg" alt="" /></li>
                <li class="accordion__li"><img class="accordion__img" src="/img/home/tsat-09.jpg" alt="" /></li>
                <li class="accordion__li"><img class="accordion__img" src="/img/home/tsat-08.jpg" alt="" /></li>
                <li class="accordion__li"><img class="accordion__img" src="/img/home/tsat-10.jpg" alt="" /></li>
                <li class="accordion__li"><img class="accordion__img" src="/img/home/tsat-11.jpg" alt="" /></li>
                <!-- <li class="accordion__li"><img class="accordion__img" src="/img/home/hand/6.jpg" alt="" /></li> -->
            </ul>
        </div>

        <div style="position: absolute; bottom: 0; width: 100%; left: 0; margin-bottom: 0px;">
            <%- include("footer.ejs") %>
        </div>

    </div>








</body>

<script src="js/home/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="/js/home/limit.js"></script>
<script src="/js/home/zA7n-min.js"></script>
<script>
    // console.log(window.screen.height);
    // console.log(window.innerWidth);
    // console.log($(window).width());
    // console.log(document.documentElement.clientWidth);

    // 過場動畫
    $("#status").delay(1700).fadeOut(1300); //delay --> 延遲幾秒才fadeOut
    $("#preloader").delay(2400).fadeOut(1300);

    $(document).ready(function () {

        $('#zA7n').zA7n({});
        // 最下方輪播圖
        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });


        // 版面配置與rwd
        var hei = document.documentElement.clientHeight;
        console.log(hei);
        $("#pageone").css("height", `${hei}px`);
        $("#pagenewi").css("top", `${hei}px`);
        $("#pagenewi").css("min-height", `${hei}px`);
        var nwihei = parseInt($("#pagenewi").css("height"));

        $("#pagetwo").css("top", `${nwihei + hei}px`);
        $("#pagetwo").css("height", `${hei}px`);
        $("#pagethree").css("min-height", `${hei}px`);
        // $("#pagefour").css("top", `${hei}px`);
        $("#pagefour").css("min-height", `${hei}px`);
        // console.log($("#pageone").css("height") + "vvv");
        // console.log($("#pagetwo").css("height") + "qqq");



        // console.log($("#rowtwo").css("height"))
        // var pagetwopichei = parseInt($("#rowtwo").css("height"));
        if (document.documentElement.clientHeight > 1000) {
            $("#pagetwoin").css("margin-top", "15%");
        }else if(document.documentElement.clientHeight <= 1000){
                $("#pagetwoin").css("margin-top", "8%");
            }
        // var wid = document.documentElement.clientWidth;
        // $(".third_tit").css("height", `${$(".ooo")[0].clientHeight}px`);
        // $(".thirdhei").css("height", `${($(".ooo")[0].clientHeight) * 2 + 2}px`);

        // $(".downpic img").css("height", `${$("#getpagetwoimg").css("height")}`);
        // $(".downpic img").css("width", `${$("#getpagetwoimg").css("width")}`);
        // $(".downpic").css("top", `${parseInt($(".midpic img").css("height")) - parseInt($(".downpic img").css("height"))}px`);

        // console.log((window.innerWidth < 1200) && (document.documentElement.clientHeight < 850))
        // if (window.innerWidth < 1600) {
        //     $("#pagetwoin").css("margin-top", "130px");
        // }
        // if ((window.innerWidth < 1450) && (document.documentElement.clientHeight >= 850)) {
        //     $("#pagetwoin").css("margin-top", "220px");
        // }
        // if ((window.innerWidth < 1200) && (document.documentElement.clientHeight < 850)) {
        //     $(".downpic").css("top", `${parseInt($("#getpagetwoimg").css("height")) + 120}px`);
        //     $(".downpic").css("left", "15px");
        //     // $("#pagetwoin").css("margin-top", "120px");
        // }
        // else if ((window.innerWidth < 1200) && (document.documentElement.clientHeight >= 850)) {
        //     $(".downpic").css("top", `${parseInt($("#getpagetwoimg").css("height")) + 150}px`);
        // }
        // if ((window.innerWidth < 768) && (document.documentElement.clientHeight < 850)) {
        //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) * 2 + 90}px`);
        //     $(".downpic").css("left", `15px`);
        //     $("#pagetwoin").css("height", `${pagetwopichei * 4.5}px`);
        // } else if ((window.innerWidth < 768) && (document.documentElement.clientHeight >= 850)) {
        //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) * 2 + 90}px`);
        //     // $("#pagetwoin").css("margin-top", "150px");
        // }
        // if ((window.innerWidth < 577) && (document.documentElement.clientHeight < 850)) {
        //     // $(".storytitle").css("top", "9%");
        //     console.log(document.getElementById("newi_img").src);
        //     document.getElementById("newi_img").src = "/img/home/tsat-06.png";
        //     $(".figure-img").css("margin-bottom", "0px");
        //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) * 2 + 70}px`);
        //     // $("#pagetwoin").css("margin-top", "170px");
        // } else if (window.innerWidth < 577) {
        //     // $(".storytitle").css("top", "8%");
        //     console.log(document.getElementById("newi_img").src);
        //     document.getElementById("newi_img").src = "/img/home/tsat-06.png";
        //     $(".figure-img").css("margin-bottom", "0px");
        //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) * 2 + 70}px`);
        // }
        if (window.innerWidth < 430) {
            document.getElementById("newi_img").src = "/img/home/tsat-06.png";
        }


        if (window.innerWidth >= 430) {
            // $(".storytitle").css("top", "15px");
            document.getElementById("newi_img").src = "/img/home/tsat-02.jpg";
        }
        // if (window.innerWidth >= 577) {
        //     // $(".storytitle").css("top", "15px");
        // }
        // if (window.innerWidth >= 768) {
        //     $("#pagetwoin").css("height", `${pagetwopichei * 2}px`);
        // }
        // if (window.innerWidth >= 1200) {
        //     $("#pagetwoin").css("height", `${pagetwopichei}px`);
        // }
        // if (window.innerWidth >= 1450) {
        //     $("#pagetwoin").css("margin-top", "130px");
        // }
        // if ((window.innerWidth >= 1600) && (document.documentElement.clientHeight < 850)) {
        //     $("#pagetwoin").css("margin-top", "100px");
        // }
        // if ((window.innerWidth >= 1600) && (document.documentElement.clientHeight >= 850)) {
        //     $("#thirdmargin").css("margin-top", "0px");
        // }
        var thirdpagetop = parseInt($("#pagetwo").css("height")) + hei + hei;
        $("#pagethree").css("top", `${thirdpagetop}px`);
        var fourpagetop = parseInt($("#pagethree").css("height")) + thirdpagetop;
        $("#pagefour").css("top", `${fourpagetop}px`);

        //螢幕變動自動刷新
        window.addEventListener('resize', start);

        function start() {

            if (document.documentElement.clientHeight > 1000) {
                $("#pagetwoin").css("margin-top", "15%");
            }else if(document.documentElement.clientHeight <= 1000){
                $("#pagetwoin").css("margin-top", "8%");
            }
            // var pagetwopichei = parseInt($("#rowtwo").css("height"));
            // $(".downpic img").css("height", `${$("#getpagetwoimg").css("height")}`);
            // $(".downpic img").css("width", `${$("#getpagetwoimg").css("width")}`);
            // //外面兩張圖對其中間圖的下方 
            // $(".downpic").css("top", `${parseInt($(".midpic img").css("height")) - parseInt($(".downpic img").css("height"))}px`)

            // //page 3 中間區塊大小 
            // // $(".third_tit").css("height", `${$(".ooo")[0].clientHeight}px`);
            // // $(".thirdhei").css("height", `${($(".ooo")[0].clientHeight) * 2 + 2}px`);

            // // if (window.innerWidth < 1600) {
            // //     $("#pagetwoin").css("margin-top", "130px");
            // // }
            // // if ((window.innerWidth < 1450) && (document.documentElement.clientHeight >= 850)) {
            // //     $("#pagetwoin").css("margin-top", "220px");
            // // }
            // if ((window.innerWidth < 1200) && (document.documentElement.clientHeight < 850)) {
            //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) + 120}px`);
            //     $(".downpic").css("left", "15px");
            //     // $("#pagetwoin").css("margin-top", "120px");
            // }
            // else if (window.innerWidth < 1200) {
            //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) + 150}px`);
            // }
            // if ((window.innerWidth < 768) && (document.documentElement.clientHeight < 850)) {
            //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) * 2 + 90}px`);
            //     $("#pagetwoin").css("height", `${pagetwopichei * 4.5}`);
            // } else if (window.innerWidth < 768) {
            //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) * 2 + 90}px`);
            //     // $("#pagetwoin").css("margin-top", "150px");
            // }
            // if ((window.innerWidth < 577) && (document.documentElement.clientHeight < 850)) {
            //     // $(".storytitle").css("top", "9%");
            //     // console.log(document.getElementById("newi_img").src);
            //     // document.getElementById("newi_img").src = "/img/home/tsat-06.png";
            //     $(".figure-img").css("margin-bottom", "0px");
            //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) * 2 + 70}px`);
            //     // $("#pagetwoin").css("margin-top", "170px");
            // } else if (window.innerWidth < 577) {
            //     // $(".storytitle").css("top", "8%");
            //     // console.log(document.getElementById("newi_img").src);
            //     // document.getElementById("newi_img").src = "/img/home/tsat-06.png";
            //     $(".figure-img").css("margin-bottom", "0px");
            //     $(".downpic").css("top", `${parseInt($(".figure img").css("height")) * 2 + 70}px`);
            // }
            if (window.innerWidth < 430) {
                document.getElementById("newi_img").src = "/img/home/tsat-06.png";
            }


            if (window.innerWidth >= 430) {
                // $(".storytitle").css("top", "15px");
                document.getElementById("newi_img").src = "/img/home/smiley.png";
            }
            if (window.innerWidth >= 577) {
                // $(".storytitle").css("top", "15px");
            }
            if (window.innerWidth >= 768) {
                $("#pagetwoin").css("height", `${pagetwopichei * 2}px`);
            }
            if (window.innerWidth >= 1200) {
                $("#pagetwoin").css("height", `${pagetwopichei}px`);
            }
            // if (window.innerWidth >= 1450) {
            //     $("#pagetwoin").css("margin-top", "130px");
            // }
            // if ((window.innerWidth >= 1600) && (document.documentElement.clientHeight < 850)) {
            //     $("#pagetwoin").css("margin-top", "100px");
            // }
            // if ((window.innerWidth >= 1600) && (document.documentElement.clientHeight >= 850)) {
            //     $("#thirdmargin").css("margin", "10px auto");
            // }
            var thirdpagetop = parseInt($("#pagetwo").css("height")) + hei + hei;
            $("#pagethree").css("top", `${thirdpagetop}px`);
            var fourpagetop = parseInt($("#pagethree").css("height")) + thirdpagetop;
            $("#pagefour").css("top", `${fourpagetop}px`);
        }

    }
    )

</script>


<script>

</script>
<!-- <script src="./mousescroll.js"></script> -->
<script src="/js/home/scrollii.js"></script>
<script src="/js/home/spin.js"></script>
<script src="/js/home/slick.js"></script>

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script> -->

</html>