<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>function.pop</title>
    <link rel="stylesheet" href="/css/all.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css" />
    <!-- <link rel="stylesheet" href="./assets/css/TonyCss.css"> -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- 0. Wraper -->
    <div class="wrapper">
      <!-- 1. NAvbar -->
      <%- include("navbar.ejs") %>

      <!-- 2. Breadcrumb -->
      <% result.forEach(function(item) { %>
      <section>
        <div class="container">
          <ol class="breadcrumb">
            <li class="homepage">
              <a href="#"><i class="fas fa-home"></i><span>Home</span></a>
            </li>
            <li>
              <a href="#"><span><%= item.product_gender %></span></a>
            </li>
            <li>
              <a href="#"><span><%= item.product_category %></span></a>
            </li>
            <li>
              <a href="#"><span><%= item.product_name %></span></a>
            </li>
          </ol>
        </div>
      </section>
      <% }); %>

      <!-- 3. Single Product -->
      <section class="container single-product mt-2 pt-2">
        <div class="row mt-2">
          <!-- 3.1 Left Side Photo -->

          <% result.forEach(function(item) { %>

          <div class="col-lg-5 col-md-12 col-sm-12 py-2 px-2">
            <img
              id="mainImg"
              class="img-fluid w-100 py-2 px-2"
              src="/img/product/<%= item.product_image %>"
              alt=""
            />
            <div class="small-img-group">
              <div class="small-img-col">
                <img
                  class="small-img"
                  src="/img/product/<%= item.product_image %>"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="small-img-col">
                <img
                  class="small-img"
                  src="/img/product/<%= item.product_image2 %>"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="small-img-col">
                <img
                  class="small-img"
                  src="/img/product/<%= item.product_image3 %>"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="small-img-col">
                <img
                  class="small-img"
                  src="/img/product/<%= item.product_image4 %>"
                  alt=""
                  width="100%"
                />
              </div>
            </div>
          </div>

          <div
            class="col-lg-7 col-md-12 col-sm-12 py-3 px-5"
            id="product_describe"
          >
            <h3><%= item.product_gender %> | <%= item.product_category %></h3>
            <hr style="background-color: #395d6c; height: 2px" />
            <h5 style="color: gray">時尚</h5>
            <br />
            <h4><%= item.product_name %></h4>
            <p>商品編號 <%= item.product_code %></p>
            <h6>價　格： $ <span><%= item.product_price %></span> 元</h6>
            <h6>顏　色：米白色</h6>
            <span style="color: red">顏色選單</span><img src="" alt="" />
            <br />
            <br />
            <h6>尺　寸：28</h6>
            <span style="color: red">尺寸選單</span><img src="" alt="" />
            <span class="sizeflexBox mx-auto py-3">
              <button style="width: 40px; height: 40px">34</button>
              <button style="width: 40px; height: 40px">35</button>
              <button style="width: 40px; height: 40px">36</button>
              <button style="width: 40px; height: 40px">37</button>
            </span>
            <br />
            <br />
            <span>數　量：</span>

            <form action="/home/shop_cart" method="post">
              <input
                type="hidden"
                name="code"
                value="<%= item.product_code %>"
              />
              <input
                type="hidden"
                name="name"
                value="<%= item.product_name %>"
              />
              <input
                type="hidden"
                name="image"
                value="<%= item.product_image %>"
              />
              <input
                type="hidden"
                name="price"
                value="<%= item.product_price %>"
              />
              <input type="hidden" name="quantity" value="1" />
              <input
                type="submit"
                value="Add to cart"
                class="btn btn-primary"
                style="width: 100px"
              />
            </form>

            <br />
            <br />

            <div>
              <h5
                style="
                  border-bottom: 1px solid #000;
                  padding-bottom: 10px;
                  margin-bottom: 10px;
                "
              >
                商品描述
              </h5>
            </div>
            <div>
              <p>&emsp;&emsp;<%= item.product_description %></p>
            </div>

            <br />

            <div>
              <h5 style="border-bottom: 1px solid #000; padding-bottom: 10px">
                商品資訊
              </h5>
            </div>
            <ul>
              <li><%- item.product_composition %></li>
            </ul>
          </div>

          <% }); %>
        </div>
      </section>

      <!-- 4. Relative Product -->
      <section class="container" id="related-products" class="pt-5 mt-2">
        <div class="text-center mt-4 pt-2">
          <h2>相關商品</h2>
          <hr class="mx-auto" />
        </div>
        <div class="row mx-auto container-fluid">
          <!-- Featured List -->
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100001_beige_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">人字拖</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100002_black_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">休閒剪裁運動衫</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100003_lightgreen_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">平蚊洋裝</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100004_lightblue_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">草帽</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
        </div>
      </section>

      <!-- 5. Hot Product -->
      <section class="container" id="related-products" class="pt-5 mt-2">
        <div class="text-center mt-4 pt-2">
          <h2>熱銷商品</h2>
          <hr class="mx-auto" />
        </div>
        <div class="row mx-auto container-fluid">
          <!-- Featured List -->
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100001_beige_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">人字拖</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100002_black_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">休閒剪裁運動衫</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100003_lightgreen_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">平蚊洋裝</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100004_lightblue_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">草帽</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
        </div>
      </section>
    </div>

    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />

    <!-- 5. Footer -->
    <footer class="footer"><%- include("footer.ejs") %></footer>

    <!-- Bootstrap setting -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="../public/js/product/jquery.min.js"></script>
    <script src="../public/js/product/myJs.js"></script>
    <!-- <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/myJs.js"></script> -->
    <script>
      var mainImg = document.getElementById("mainImg");
      var smallImg = document.getElementsByClassName("small-img");

      for (let i = 0; i < 4; i++) {
        smallImg[i].onclick = function () {
          mainImg.src = smallImg[i].src;
        };
      }
    </script>
  </body>
</html>
