<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/js/member/member.css">
    <link rel="stylesheet" href="/js/member/bootstrap-4.6.1-dist/css/bootstrap.css">
    <script src="/js/member/bootstrap-4.6.1-dist/js/jquery.min.js"></script>
    <!-- <script src="/bootstrap-4.6.1-dist/js/popper.min.js"></script> -->
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js" ></script> -->
    <script src="/js/member/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <!-- <script src="/js/member/LeftNavBar.js"></script> -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <style>
    
    .product_info img {
        width: 100%;
        height: 100%; 
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
   }
    .product_desc{
        overflow :hidden;
         display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
    .b_radius{
        border-radius: 8px;
    }
    
    @media screen and (max-width: 768px){

    .product_name{font-size: 13px;}
   
    .product_desc{
        font-size: 8px;
        overflow :hidden;
         display: -webkit-box;
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
        }
    }

    </style>
</head>

<body  style="background-color:white ;" >
   
    <!-- content -->
     <%- include("../navbar.ejs") %> 

        <div class="container" style="background-color:white ;">



                <!-- 左邊選單列 -->
                <div class="row mt-4">
                    <div class="col-12 col-lg-2 text-lg-left text-center mb-4 ">
                        <p class="mb-3 col-4 col-lg-12 d-xl-block d-inline"><a href="/home/member/memberData"
                                class="nav-link text-dark memberData d-inline d-lg-block">個人資料</a></p>
                        <p class="mb-3 col-4 col-lg-12 d-xl-block d-inline"><a href="/home/member/orderList"
                                class="nav-link text-dark   d-inline d-lg-block">訂單&退貨</a></p>
                        <p class="mb-3 col-4 col-lg-12 d-xl-block d-inline"><a href="/home/member/myFavourite"
                                class="nav-link text-dark font-weight-bold orderList myFavourite d-inline d-lg-block">我的最愛</a>
                        </p>
                    </div>

                    <!-- 右邊內容：我的最愛 -->
                    <% if(memberprofile) { %>
                        
                        <div class="col-12 col-lg-10 p-3">
                            <div class="row">
                                <div class="col-12 p-2 text-center title_1">
                                    <p>我的最愛</p>
                                </div>
                            </div>

                     <!-- 小功能列 -->    
                            <div class="row pt-1 pb-1 pl-1 mx-1" style="font-size: 8px;"> 
                                <div  id="clearFavor" class="offset-sm-7 offset-5 col-sm-3 col-4 text-right border-right">
                                    <div  id="clearAll" name="clearAll" >
                                        <input type="hidden" name="clearallcontent" value="0912383555">
                                        <input type="hidden" name="memcontent" value="<%- memberprofile.id %>">
                                        <button  class="btn" onclick="clearAll(this)" style="font-size: 8px;" onclick="clearAll(this)">清空全部商品</button>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-3 d-flex justify-content-end align-items-center text-secondary product_length "></div>
                            </div>


                    <!-- 我的最愛內容 -->
                            <%   var x = ""; %>
                            <% var qq=[]; %> 
                            <% var row_num = 0; %> 
                            <% for (var i = 0; i<todos.length; i++) { %>
                               
                                <%   if(todos[i].product_id == x ){}else { %>

                                    <% x = todos[i].product_id; %>
                                    <%   qq.push(i);
                                    // console.log(qq.length) ;
                                    // console.log(`row_num = ${row_num}`);
                                    %> 
                                    <script>
                                       var product_length = document.querySelectorAll(".row_number").length;
                                       console.log(product_length);
                                       $(".product_length").text(`${product_length + 1} 件商品`);
                                    </script>
                            <div class="row align-items-lg-center text-center border mb-4 p-1 mx-1 b_radius row_number" id="row_num<%- row_num %>" >
                                <div class="col-4 col-lg-3 product_info py-3">

                                    <a href="/home/product/<%- todos[i].product_gender %>/single_product/<%- todos[i].product_id %>"><img class=""
                                    src="/img/product/<%= todos[i].product_image %>" title="<%- todos[i].product_description %>"></a>
                                    
                                    
                                </div>

                                <div class="col-5 col-lg-2 text-left align-items-py-2">
                                     <p class="font-weight-bold product_name" ><%- todos[i].product_name %> </p>
       <!-- < lg disappear -->       <p class="d-lg-block d-none text-secondary product_desc "><%- todos[i].product_description  %> </p>
       <!-- < lg display -->         <p class="d-lg-none"><%- todos[i].product_gender %></p>
       <!-- < lg display -->         <p class="d-lg-none text-secondary product_desc"><%- todos[i].product_description  %> </p>
                                </div>

       <!-- < lg disappear -->  <div class="col-lg-1 d-lg-block d-none "><%- todos[i].product_gender %></div>

       <!-- < lg disappear -->  <div class="col-lg-2 d-lg-block d-none " style="color:red">$<%- todos[i].product_price %></div>

         
       <!-- < lg display -->    <div class="d-flex col-3 d-lg-none d-block mt-2 align-items-center flex-column bd-highlight ">
                                         <button class="btn"> 
                                                <svg xmlns="http://www.w3.org/2000/svg"  class="text-secondary"
                                                 width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                                                 viewBox="0 0 16 16">
                                                 <path
                                                     d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                                </svg>
                                             
                                         </button>
                                            <p class="d-lg-none mt-auto" style="color:red ;">$<%- todos[i].product_price %></p> 
                                 </div>
                                 <div class="col-12 col-lg-2 mb-2">
                                    <!-- <button type="submit" id="addToCart" class="btn_GO px-1 d-block w-100 b_radius">移至購物車</button> -->
                                    <button type="submit"  class="btn_GO px-1 d-block w-100 b_radius" data-toggle="modal" data-target="#choose_<%- todos[i].product_id %>">移至購物車</button>
                                  
                                    <div class="modal fade" style="z-index: 50001;" id="choose_<%- todos[i].product_id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" >
                                          <div class="modal-content">
                                                <div class="modal-header" style="">
                                                    <h5 class="modal-title " id="choose_Label">請選擇尺寸及顏色</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <!-- x&times; -->
                                                         <span aria-hidden="true" style="color: red;">&times;</span>
                                                     </button>
                                                </div>  <!-- modal-header -->

                                                <div class="modal-body">
                                                          <div class="row justify-content-center " >
                                                            <div class="col-9">
                                                                <h5 class="border-bottom border-warning border-blod pb-2 mb-2"><%- todos[i].product_name %></h5>
                                                            </div>
                                                               
                                                          </div>


                                                         <div class="row align-items-center">
                                                                 <div class="col-6"><p class="chooseSize"> 尺寸：</p>
                                                                    <input type="hidden" name="p_id" value="<%- todos[i].product_id %>">
                                                                    <input type="hidden" name="p_price" value="<%- todos[i].product_price %>">
                                                                    <input type="hidden" name="p_name" value="<%- todos[i].product_name %>">
                                                                    <input type="hidden" name="p_img" value="<%- todos[i].product_image %>">
                                                                    <input type="hidden" name="p_code" value="<%- todos[i].product_code %>">

                                                                       <% var ee = todos[i].product_id; %>
                                                                       <!-- <% console.log('----------------------'); %>  -->
                                                                      
                                                                       <!-- <% console.log(ee) %>  -->
                                                                      <% for (var d = 0; d < todos.length; d++) { %>
                                                                        <% if(todos[d].product_id == ee ){ %>
                                                                       <input type="radio" id="<%- todos[d].product_all_id %>" name="size" value="<%- todos[d].size_name %>">
                                                                       <label class="mr-2" for="<%- todos[d].product_all_id %>"><%-todos[d].size_name%></label>
                                                                       <input type="hidden" name="size_id"  value="<%- todos[d].product_all_id %>">
                                                                            <%}}%>
                                                                 </div> <!-- col-6 -->
                                                                 <div class="col-6 chooseSize"><p> 顏色：</p>
                                                                         <input type="radio" id="color_b<%- row_num %>" name="color" value="黑色">
                                                                         <label class="mr-2" for="color_b<%- row_num %>">黑色</label>
                                                                         <input type="radio" id="color_w<%- row_num %>" name="color" value="白色">
                                                                         <label class="mr-2" for="color_w<%- row_num %>" >白色</label>
                                                                 </div> <!-- col-6 -->
                                                        </div>  <!-- row -->
                                                     
                                                                    <div class="row ">
                                                                            <div class="col-12">
                                                                                <p>數量：</p>
                                                                                <div class="">
                                                                                     <button class="button_desc " onclick="num_desc()"> - </button>
                                                                                     <input type="text" name="quantity" id="" class="col-4 text-center border border-warning form-control-sm " value="1"  >
                                                                                     <button class="button_incr" onclick="num_incr()"> + </button>
                                                                                </div>
                                                                             </div> <!-- col-12 -->
                                                                     <script>
                                                                         function num_desc (){
                                                                            var p_quantity = parseInt( $('input[name="quantity"]').val());
                                                                              if( p_quantity > 1 ){
                                                                              $('input[name="quantity"]').val(p_quantity - 1);
                                                                              }
                                                                            //   console.log(p_quantity);
                                                                             }
                                                                         function num_incr (){
                                                                            var p_quantity = parseInt( $('input[name="quantity"]').val());
                                                                              $('input[name="quantity"]').val(p_quantity + 1);
                                                                            // console.log(p_quantity);
                                                                         }
                                                                     </script>
                                                                    </div>  <!--row -->
                                                         </div>  <!-- modal-body -->
                                                        <div class="modal-footer">
                                                           <button type="button" class="btn_cancel" data-dismiss="modal">取消</button>
                                                          
                              
                                                            <button type="" class="btn_GO" onclick="gotoCart(`<%-row_num %>`)" >確定</button>
                                                            <!-- <% console.log(`row_num -----> ${row_num}`) %>  -->
                                                            <% row_num++ %> 
                                                            <!-- <button  class="btn_GO" id="get" >確定</button> -->
                                                        </div>  <!--modal-footer -->
                                                </div>  <!--modal-content -->
                                            </div>  <!-- modal-dialog -->
                                      </div>  <!-- modal fade -->
                                </div >  <!-- col-12 -->
                                     <% var memid =0; %>
                                      <% if(memberprofile != null){ %>
                                         <% memid = memberprofile.id;}else{memid = 0;} %>
       <!-- < xl disappear -->      <button type="submit" id="inputSend<%-i%>" onclick=" formSubmit(this)"  class="col-lg-2 d-lg-block d-none btn">
                                         <input type="hidden" name="inputText<%-i%>" id="inputText<%-i%>" value="<%- todos[i].product_id%>">
                                         <input type="hidden" name="inputText<%-i%>" id="inputText<%-i%>" value="<%- memid%>">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                             fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                             <path
                                                 d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                         </svg>
                                     </button>
                            </div>  <!-- row -->

                            <%} }%>
                        </div> <!-- col-10 -->
                        <% } else { %>
                            <div class="alert alert-warning col-12 col-lg-10 text-center align-self-center"
                                role="alert">請先登入</div>

                            <% } %>
                </div> <!-- row -->

                <br><br><br><br><br><br><br><br><br><br>

                <!-- <p class="text-center mt-5 font-weight-bold">新潮指標</p>
                <hr> -->

                <!-- <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                    <ol class="carousel-indicators mb-n4 ">
                        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                    </ol>
                
                    <div class="carousel-inner">
                        <div class="carousel-item active text-center  ">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=1">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=2">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=3">
                            <img class="mr-4 d-none d-lg-inline"
                                src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=4">
                            <img class="mr-4 d-none d-lg-inline"
                                src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=5">
                        </div>
                        <div class="carousel-item text-center">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=6">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=7">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=8">
                            <img class="mr-4 d-none d-lg-inline"
                                src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=9">
                            <img class="mr-4 d-none d-lg-inline"
                                src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=10">
                        </div>
                        <div class="carousel-item text-center">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=11">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=12">
                            <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=13">
                            <img class="mr-4 d-none d-lg-inline"
                                src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=14">
                            <img class="mr-4 d-none d-lg-inline"
                                src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=15">
                        </div>
                        <div class="align-items-center text-center ">
                            <button class="carousel-control-prev " type="button" data-target="#carouselExampleControls"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only bg-warning">Previous</span>
                            </button>
                        </div>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>

                </div> -->

        </div> <!-- container -->

        <%- include("../footer.ejs") %>

</body>


<script>
    function formSubmit(obj) {
        // console.log(obj);
        var pid = obj.children[0].value;
        var cid = obj.children[1].value;
        $(".product_length").text(`${product_length} 件商品`);
        product_length --;
        // var size = $('input[name="size"]:checked').val();
        // var color = $('input[name="color"]:checked').val();
        // var send = obj.id;
        // var send = document.querySelector(`#${obj.id}`);
        // console.log('send =');
        // console.log(send);
        // const value = content.value;
    //     var xhr = new XMLHttpRequest();
    //     xhr.open('post', '/home/member/myFavourite'); // 搭配 app.js 中的 post 路由
      
    //   // json 格式
    //   xhr.setRequestHeader('Content-type', 'application/json');
    //   var data = JSON.stringify(
    //     {
    //         pid: pid,
    //         cid: cid,
    //         // size: size,
    //         // color: color
    //     //   list: [1, 2, 3],
    //     },
    //   );
    //   xhr.send(data);
    //   xhr.onload = function() {
    //     // console.log(JSON.parse(xhr.responseText));
    //   }
    $.ajax({
        url:'/home/member/myFavourite',
        type:"POST",
        data:{
            pid:pid,
            cid:cid
        },
        success:function(data){
            console.log('success post');
        },
        error:function(){},
    })
      $(obj).parent().remove();

    };

    function clearAll(obj){  // 清空所有購物車
    //   document.getElementById('clearFavor').submit();

    var memcontent = $('input[name="memcontent"]').val();
    console.log('memcontent');
    console.log('on click');
    $.ajax({
            url:"/home/member/myFavourite",
            type:"POST",
            dataType:'json',
            data: {memcontent:memcontent},
            success:function(data){
                console.log("run clearAll");
                console.log(data);
                $('.row_number').remove();
                $(".product_length").text(`0 件商品`);
            },
            error:function(){
                console.log('?????');
            },
        })
       
    };
    

// function vv(){
//     // $('input[name="job"][value="other"]').prop("checked", true);
//     $("input[name='size'][value='S']").prop('checked'.true);
// }
    
    

    function gotoCart(row_num){
        // console.log('---------------'); 
        //  console.log((((((obj.parentNode).parentNode).parentNode).parentNode).parentNode).children);
   

        
         var id = $('input[name="p_id"]')[row_num].value;
        //  console.log(`id : ${id}`)

         var size = $('input[name="size"]:checked').val();
         var color = $('input[name="color"]:checked').val();
         var quantity = $('input[name="quantity"]').val();
        //  console.log(`quantity = ${quantity}`);

         var all_id = $('input[name="size"]:checked').attr('id');
        //  console.log(`all_id :`)    ;
        //  console.log(all_id);

         var code = $('input[name="p_code"]')[row_num].value;
        //  console.log(`code : ${code}`)

         var name = $(`input[name='p_name']`)[row_num].value;
        //  console.log(`name : ${name}`)

         var image = $('input[name="p_img"]')[row_num].value;
        //  console.log(`image : ${image}`)

         var price = $('input[name="p_price"]')[row_num].value;
        //  console.log(`price : ${price}`)

        

        //  if(!size){
        //     $('.chooseSize').css({'color':'red'})
        //  }else{
        //     $('.chooseSize').css({'color':'black'})
        //  }

        //  $(`row_num${row_num}`).remove();
        console.log('=======JavaScript========');
        // console.log($(`input[name='p_name']`)[row_num].value);
        // console.log(`row_num = ${row_num}`);
        
         var item = {
            code : code,
            all_id : all_id,
            id : id ,
            name : name,
            image : image,
            size : size,
            color : color,
            price: price,
            quantity : quantity

         }
         if(size && color){
            $(`#choose_${id}`).modal('hide');
            // console.log('addTocaert success');
            
        $.ajax({
            url:"/home/shop_cart/",
            type:"POST",
            data:item,
            success:function(res){
                // console.log("AA");
            },
            error:function(){},
        })
        }else{
            // console.log('Please choose the color or size');
         }


    //      var xhr = new XMLHttpRequest();
    //     xhr.open('post', '/home/shop_cart/'); // 搭配 app.js 中的 post 路由

        
    //       // json 格式
    //   xhr.setRequestHeader('Content-type', 'application/json');
    //   var data = JSON.stringify(
    //     {
    //         p_id:p_id,
    //         size: size,
    //         color: color
    //     },
    //   );
    //   xhr.send(data);
    //   xhr.onload = function() {
    //     console.log(JSON.parse(xhr.responseText));
    //   }
    }
</script>
</html>