<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/js/member/member.css">
    <link rel="stylesheet" href="/js/member/bootstrap-4.6.1-dist/css/bootstrap.css">
    <script src="/js/member/bootstrap-4.6.1-dist/js/jquery.min.js"></script>
    <!-- <script src="/bootstrap-4.6.1-dist/js/popper.min.js"></script> -->
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js" ></script> -->
    <script src="/js/member/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">


    <style>
        .p_list:hover{
            background-color: rgb(255, 215, 0,0.2)	;
            border-radius: 8px;
        }


    </style>
</head>

<body>
    <!-- content -->
    <%- include("../navbar.ejs") %>

        <div class="container ">



                <!-- 左邊選單列 -->
                <div class="row mt-4 ">
                    <div class="col-12 col-lg-2 text-lg-left text-center mb-4 ">
                        <p class="mb-3 col-4 col-lg-12 d-xl-block d-inline"><a href="/home/member/memberData"
                                class="nav-link text-dark memberData d-inline d-lg-block">個人資料</a></p>
                        <p class="mb-3 col-4 col-lg-12 d-xl-block d-inline"><a href="/home/member/orderList"
                                class="nav-link text-dark font-weight-bold d-inline d-lg-block">訂單&退貨</a></p>
                        <p class="mb-3 col-4 col-lg-12 d-xl-block d-inline"><a href="/home/member/myFavourite"
                                class="nav-link text-dark  orderList myFavourite d-inline d-lg-block">我的最愛</a>
                        </p>
                    </div>

                    <!-- 右邊訂單清單 -->
                    <% if(memberprofile) { %>
                        <div class="col-12 col-lg-10 p-3 ">
                            <div class="row mb-4">
                                <div class="col-12 p-2 text-center title_1">
                                    <p>訂單&退貨紀錄</p>
                                </div>
                            </div>
                            
                            <!-- 設定初值 -->
                            <% if(result.length != 0){ %>
                            <% var order_number = result[0].order_list %>
                            <% var quantity = 0; %> 
                            <% var unitprice =0; %> 
                            <% var data = ""; %> 
                                <% } %> 
                            <!-- 設定初值 -->

                            <% result.forEach((orderList,idx) => { %>
                                <% if(orderList.order_list == order_number ){ %>
                                <%   order_number = orderList.order_list; %>
                                <%   quantity = quantity + orderList.Quantity; %>
                                <%    unitprice += orderList.UnitPrice; %>
                                 <%   data = JSON.stringify(result[0].order_update).substring(1,11);%>
                                 <% if(idx == (result.length-1)){ %>
                                    <div class="row p-2 mx-1 border-bottom p_list">
                                        <div class="col-12 mb-2 col-lg-9 col-sm-8 my-2">訂單編號：<%- order_number %></div>
                                        <div class="col-12 mb-2 col-lg-3 col-sm-4 my-2">商品數量：<%- quantity %></div>
                                        <div class="col-12 mb-2 col-lg-9 col-sm-8 my-2">訂單金額：＄<%- unitprice %></div>
                                        <div class="col-12 mb-2 col-lg-3 col-sm-4 my-2">訂單狀態：完成</div>
                                        <div class="col-12 mb-2 col-lg-9 col-sm-8 my-2 align-self-center">訂單日期：<%-data%></div>
                                        <div class="col-12 mb-2 col-lg-3 col-sm-4 my-2">
                                            <a href="/home/member/orderDetail/<%-order_number%>" class="py-2 px-4 btn_GO">檢視訂單資訊</a>
                                        </div>
                                    </div>
                                     <% } %> 
                            <%    } else{ %> 
                            <div class="row p-2 mx-1 border-bottom p_list">
                                <div class="col-12 mb-2 col-lg-9 col-sm-8 my-2">訂單編號：<%- order_number %></div>
                                <div class="col-12 mb-2 col-lg-3 col-sm-4 my-2">商品數量：<%- quantity %></div>
                                <div class="col-12 mb-2 col-lg-9 col-sm-8 my-2">訂單金額：＄<%- unitprice %></div>
                                <div class="col-12 mb-2 col-lg-3 col-sm-4 my-2">訂單狀態：完成</div>
                                <div class="col-12 mb-2 col-lg-9 col-sm-8 my-2 align-self-center">訂單日期：<%-data%></div>
                                <div class="col-12 mb-2 col-lg-3 col-sm-4 my-2">
                                    <a href="/home/member/orderDetail/<%-order_number%>" class="py-2 px-4 btn_GO">檢視訂單資訊</a>
                                </div>
                            </div>
                                <%   order_number = orderList.order_list; %>
                                <%   quantity = orderList.Quantity; %>
                                <%   unitprice = orderList.UnitPrice; %>
                                <%   data = JSON.stringify(result[0].order_update).substring(1,11); %>

                          <% }}) %> 
                          

                            <% } else { %>
                                <div class="alert alert-warning col-12 col-lg-10 text-center align-self-center"
                                    role="alert">請先登入</div>
                                <% } %>

                        </div> <!-- col-10 -->
                        
                </div> <!-- row -->
               
                <br><br><br><br><br><br><br><br><br><br>
                
        </div> <!-- container -->

        <!-- footer -->
        <%- include("../footer.ejs") %>
            <script>

                // var xx = [{
                //     price: 1000
                // },
                // {
                //     price: 20
                // },
                // {
                //     price: 30
                // },
                // { price: 50 }];

                // // xx.forEach(x=> {return x.price});
                // // var yy= xx.sort(function (a, b) {
                // //         return a.price - b.price;
                // // });
                // // console.log(yy);
                // // aa.push(x.price)
                // var aa = [];
                // xx.forEach(x => {
                //     aa.push(x.price);
                //     console.log(aa)
                // });

                // var yy = aa.sort(function (a, b) {
                //     return a - b;
                // });
                // console.log(yy);

// var numbers = [4, 2, 5, 1,,1000, 3];
// numbers.sort(function(a, b) {
//   return a - b;
// });
// console.log(numbers);

// [1, 2, 3, 4, 5]
            </script>


</body>

</html>